body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Submit button  */
.btn-submit {
    margin: 0 10px;
    padding: 5px 30px;
    font-size: 18px;
    color: #ffffff;
    background-color: #0078d4;
    overflow: hidden;
    border: none;
    border-radius: 3px;
    transition: .1s linear;
    box-shadow: 5px 5px 8px rgb(200, 198, 196);
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transition: 0s linear;
    transform: scale(1.02);
}
/* Submit button */

/* Standard button */
.btn-standard{
    margin: 0 10px;
    background-color: #ffffff;
    color:#0078d4;
    border: none;
    border-radius: 3px;
    height: 2em;
    width: 2em;
    font-size: 21px;
    transition: .1s linear;
    box-shadow: 2px 2px 8px rgb(200, 198, 196,0.3),
    -2px -2px 8px rgb(200, 198, 196,0.3);
}