* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #faf9f8;
}

.general-info {
  display: flex;
  position: absolute;
  right: 10px;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  color: #605e5c;
}

.state-header {
  font-weight: 700;
}

.state-cash-danger {
  color: #da3b01;
  font-weight: 600;
}

.state-cash-safe {
  color: #498205;
  font-weight: 600;
}

.btn-flat {
  cursor: pointer;
  background: transparent;
  border: none;
}

.account-info button {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.account-info img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 0.7em;
}

.btn-dropdown-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-dropdown-content ul {
  position: absolute;
  background-color: #ffffff;
  margin-top: 3.5em;
  width: 140px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgb(200, 198, 196, 0.3), -2px 10px 8px rgb(200, 198, 196, 0.3);
  opacity: 0;
  position: none;
  transform: translateY(-3px);
  transition: all 0.4s ease;
  pointer-events: none;
}

.btn-dropdown-content li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-dropdown-content li:hover {
  background-color: #edebe9;
}

.btn-dropdown-content ul li:last-child:hover {
  background-color: #edebe9;
  border-radius: 0 0 3px 3px;
}

.btn-dropdown-content ul li:first-child:hover {
  background-color: #edebe9;
  border-radius: 3px 3px 0 0;
}

.btn-dropdown-content a {
  color: #3b3a39;
  text-decoration: none;
}

.btn-dropdown-content button.btn-flat:focus+ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.content {
  height: 90vh;
  width: 100vw;
  display: flex;
  margin-top: 3em;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: -10;
}

.sidebar {
  background: #F3F2F1;
  padding: 1em;
  height: 85%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  border-radius: 5px 0 0 5px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(200, 198, 196, 0.6), -3px -3px 10px rgba(200, 198, 196, 0.3);
}

.sidebar .logo {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-top: 1em;
  color: #a19f9d;
  font-weight: 700;
}

.sidebar .logo i {
  font-size: 5em;
  font-weight: normal;
}

.sidebar .navbar {
  align-self: center;
  justify-self: center;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -30%;
  text-align: center;
}

.sidebar .navbar ul {
  list-style: none;
}

.sidebar .navbar li {
  display: grid;
  grid-template-columns: minmax(30px, 60px) minmax(50px, 100px);
  margin: 10px 0;
}

.sidebar .navbar li i {
  justify-self: end;
  align-self: center;
}

.sidebar .navbar li a {
  justify-self: center;
}

.sidebar .navbar li.active {
  border-left: 4px solid #3b3a39;
  font-weight: 700;
  color: #3b3a39;
}

.sidebar a, .sidebar i {
  color: #a19f9d;
  text-decoration: none;
}

.sidebar li.active a, .sidebar li.active i {
  color: #3b3a39;
}

.sidebar-footer {
  margin-bottom: 1em;
  width: 100%;
  position: absolute;
  bottom: 10%;
  text-align: center;
}

.sidebar-footer.active {
  border-left: 4px solid #3b3a39;
  color: #3b3a39;
  font-weight: 700;
}

.main-content {
  background: #fff;
  padding: 1em;
  height: 95%;
  width: 80vw;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(200, 198, 196, 0.6), -3px -3px 10px rgba(200, 198, 196, 0.3);
  z-index: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30px 50px 70px auto 100px;
}

.breadcrumb .component-name {
  color: #605e5c;
}

.breadcrumb .component-specific {
  color: #0078d4;
}

.month-name {
  grid-row: 2;
  color: #484644;
  font-size: 32px;
  font-weight: 700;
}

.btn-standard {
  margin: 0 3px;
  padding: 0.5em 0.6em;
  background-color: #ffffff;
  color: #0078d4;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  transition: .1s linear;
  box-shadow: 2px 2px 8px rgb(200, 198, 196, 0.3), -2px -2px 8px rgb(200, 198, 196, 0.3);
}

.btn-submit {
  margin: 0 10px;
  padding: 5px 30px;
  font-size: 18px;
  color: #ffffff;
  background-color: #0078d4;
  overflow: hidden;
  border: none;
  border-radius: 3px;
  transition: .1s linear;
  box-shadow: 5px 5px 8px rgb(200, 198, 196);
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transition: 0s linear;
  transform: scale(1.02);
}

button.btn-standard:hover {
  transform: scale(1.15);
}

button.btn-standard:active {
  transition: 0s linear;
  transform: scale(1.05);
}

.add-expense-btn {
  grid-row: 2;
  align-self: center;
  justify-self: end;
  width: 200px;
}

.manage-list-buttons {
  margin-left: 1em;
  grid-row: 3;
  align-self: center;
}

.btn-remove i {
  color: #da3b01;
}

.search {
  display: flex;
  grid-row: 3;
  height: 2em;
  align-self: center;
  justify-self: end;
  margin-right: 0.5em;
}

.search input {
  border: 2px solid #d2d0ce;
  border-radius: 3px;
  width: 300px;
  background-color: #f3f2f1;
  padding: 0 5px;
}

.search i {
  color: #69797e;
  padding: 0 0.5em;
}

.table-container {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-flow: column;
  width: 100%;
  grid-row: 4;
  grid-column: 1 /span 2;
}

.expense-header {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 50px auto auto auto auto 33px 33px;
  grid-row: 30px;
  font-size: 18px;
  color: #605e5c;
  font-weight: 700;
  border-bottom: solid 1px #c8c6c4;
  padding: 5px 0;
}

.expense-item {
  display: grid;
  align-items: center;
  align-content: stretch;
  justify-items: center;
  height: 40px;
  width: 100%;
  grid-template-columns: 50px auto auto auto auto 33px 33px;
  font-weight: normal;
  color: #605e5c;
  border-bottom: solid 1px #c8c6c4;
}

.expense-item.selected {
  background-color: #f3f2f1;
}

.expense-item .person {
  justify-self: start;
}

.expense-item .edit, .expense-item .remove {
  visibility: collapse;
}

.expense-item.active {
  background: white;
  border-bottom: transparent;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3), -5px -5px 12px rgba(0, 0, 0, 0.1);
  grid-template-columns: 50px auto auto auto auto 33px 33px;
  width: 102%;
  padding-right: 25px;
  z-index: 3;
}

.checkbox-rounded {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 3px;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.remove {
  color: #d13438;
}

.edit {
  color: #0078d4
}

.expense-item.active .edit, .expense-item.active .remove {
  visibility: visible;
}

.checkbox-container {
  margin-top: 5px;
  align-self: center;
  justify-self: center;
}

.rounded {
  position: relative;
}

.rounded label {
  background-color: #fff;
  border: 1px solid #605e5c;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.rounded label:after {
  border: 2px solid #323130;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 2px;
  transform: rotate(-45deg);
  width: 8px;
}

.rounded input[type="checkbox"] {
  visibility: hidden;
}

.rounded input[type="checkbox"]:checked+label {
  background-color: #ffffff;
  border-color: #605e5c;
}

.rounded input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

.person {
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.person label {
  margin: 0 3px;
}

.person .portrait-img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.select-expense-num {
  grid-column: 1;
  position: relative;
  display: flex;
  align-self: start;
  justify-self: start;
}

.select-expense-num .btn-standard {
  font-size: 14px;
  padding: 0.5em 1.5em;
}

.select-expense-num .btn-dropdown-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-expense-num .btn-dropdown-content ul {
  position: absolute;
  background-color: #ffffff;
  margin-top: 2.5em;
  font-size: 14px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgb(200, 198, 196, 0.3), -2px 10px 8px rgb(200, 198, 196, 0.3);
  opacity: 0;
  position: none;
  transform: translateY(-3px);
  transition: all 0.4s ease;
  pointer-events: none;
}

.btn-dropdown-content button.btn-standard:focus+ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.page-selectors {
  grid-row: 5;
  grid-column: 2;
  align-self: start;
  justify-self: end;
  display: flex;
}

.page-selectors .btn-standard {
  font-size: 14px;
  color: #3b3a39;
  width: 2.2em;
  height: 2.2em;
  margin: 3px;
}

.page-selectors .btn-standard.active {
  font-weight: 700;
}

.add-expense {
  position: relative;
  background: rgba(111, 111, 111, 0.7);
  height: 100vh;
  width: 100vw;
}

.add-expense-input {
  padding: 30px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  width: 400px;
  height: 400px;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.add-expense-input h2{
  padding-bottom: 15px;
}

.add-expense-input label{
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}

.add-expense-input input{
  font-size: 18px;
}

.add-expense .submit-button {
  position: absolute;
  bottom: 15px;
  right: 30px;
}